<html>
  <head>
    <meta charset="utf-8">
    <title>GuessPop Alpha v2 </title>
  <link href="css/guessCss.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>




  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  <script src = "scripts/guessScript.js"></script>




  </head>
  <body>




    <div id = "welcome"></div>




        <div id = "subjectdiv">
        <div id = "logo"></div>
        <img id = "firstImg" class = "resize" src="img/vanilla.jpg">
        <img id = "vs" src="img/vs.jpeg">
        <img class = "resize" id = "secondImg"  src="img/chocolate.jpg">

        </div>


        <div id = "namearea">
        <div class = "name" id = "name1">Vanilla</div> <div class="name" id = "name2">Chocolate</div>
        </div>

        <div id = "buttonarea">

        <div ng-app="guessApp" ng-controller="guessCtrl">
        <div id ="like1" class = "mainbutton" ng-click="increment('first')"><br/><strong>Pop!</strong></div>
        <div id ="like2" class = "mainbutton" ng-click="increment('second')"><br/><strong>Pop!</strong></div>

<!--THIS IS THE BAR AREA-->
        <div>
<progressbar></progressbar>

    <h3>Static</h3>
    <div class="row">
        <div class="col-sm-4"><progressbar value="55"></progressbar></div>
        <div class="col-sm-4"><progressbar class="progress-striped" value="22" type="warning">22%</progressbar></div>
        <div class="col-sm-4"><progressbar class="progress-striped active" max="200" value="166" type="danger"><i>166 / 200</i></progressbar></div>
    </div>

    <hr />
    <h3>Dynamic <button class="btn btn-sm btn-primary" type="button" ng-click="random()">Randomize</button></h3>
    <progressbar max="max" value="dynamic"><span style="color:black; white-space:nowrap;">{{dynamic}} / {{max}}</span></progressbar>

    <small><em>No animation</em></small>
    <progressbar animate="false" value="dynamic" type="success"><b>{{dynamic}}%</b></progressbar>

    <small><em>Object (changes type based on value)</em></small>
    <progressbar class="progress-striped active" value="dynamic" type="{{type}}">{{type}} <i ng-show="showWarning">!!! Watch out !!!</i></progressbar>

    <hr />
    <h3>Stacked <button class="btn btn-sm btn-primary" type="button" ng-click="randomStacked()">Randomize</button></h3>
    <progress><bar ng-repeat="bar in stacked track by $index" value="bar.value" type="{{bar.type}}"><span ng-hide="bar.value < 5">{{bar.value}}%</span></bar></progress>









        </div>
<!--THIS IS THE BAR AREA-->

          <h1> {{ displayFirst }} </h1>
          <h1> {{ displaySecond }} </h1>






        </div>


        </div>









  <div id= "#footer"></div>

  </body>
</html>
